<div class="main">
  <h3>Todo List Using <span style="color: darkred">GraphQL</span></h3>
  <div *ngIf="error">
    <p>Error: {{ error }}</p>
  </div>

  <form class="form" [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <input class="input" type="text" name="name" placeholder="Enter Title" formControlName="name"/>
    <br />
    <input class="input" type="text" name="description"  placeholder="Enter Description"  formControlName="description"/>
    <br />
    <button class="btn btn-success" [disabled]="todoForm.invalid" style="width: 60rem; height: 4rem;">SUBMIT</button>
    <br>
    <button class="btn btn-primary" (click)="onClear()" [disabled]="!todoForm.dirty" style="width: 60rem; height: 4rem;">CLEAR</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  </div>

<div class="center">
<div class="example-container">
  <h2>Todo</h2>

  <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todos"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todos" cdkDrag>{{item.name}}
      <button class="btn btn-danger" style="background-color: darkred" (click)="deleteTodo(item.id)"><i class="fas fa-trash-alt"></i></button>

    </div>

  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList,doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
    <div class="example-box"   *ngFor="let item of done" cdkDrag>
      {{item.name}}
      <button class="btn btn-danger" style="background-color: darkred" (click)="deleteTodo(item.id)"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
</div>
</div>




